.njs-parallax {
  position: relative;
  height: 900px;
  overflow: hidden;
}

.njs-parallax__image {
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  height: 120%;
  will-change: transform;
}

.njs-parallax__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
